<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">JBoss Status</div>
      <div class="card-body">
        <div class="card-text">
          <p>Is the jboss-api up?</p>
          <button class="btn btn-lg btn-primary" (click)="getJBoss()"><fa-icon [icon]="refreshIcon"></fa-icon> JBoss</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">Springboot Status</div>
      <div class="card-body">
        <div class="card-text">
          <p>Is the jboss-api up?</p>
          <button class="btn btn-lg btn-primary" (click)="getSpring()"><fa-icon [icon]="refreshIcon"></fa-icon> Springboot</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">Response</div>
      <div class="card-footer">
        <div class="card-text">
          <pre>{{ status | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
