<div class="card-header">Map</div>
<div class="card-body">
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[11]" [center]="center" [accessToken]="accessToken">
    <span *ngFor="let responder of responders">
      <mgl-marker [lngLat]="[responder.lon, responder.lat]" #marker>
        <div class="marker" (click)="markerClick([responder.lon, responder.lat])" [ngStyle]="{
          'background-image': 'url(assets/img/location.svg)'
        }"></div>
      </mgl-marker>
      <mgl-popup [marker]="marker" [offset]="[0, -12]">
        <div class="card-text">
          <p>
            <strong>Mission ID: </strong> {{ responder.missionId }}<br />
            <strong>Mission Status: </strong> {{ responder.status }}<br />
            <strong>Responder ID: </strong> {{ responder.id }}<br />
            <strong>Long/Lat: </strong> {{ responder.lon + ',' + responder.lat }}<br />
            <strong>Full Name: </strong> {{ responder.name }}<br />
            <strong>Phone Number: </strong> {{ responder.phoneNumber }}<br />
            <strong>Provides Medical?: </strong> {{ responder.medicalKit }}<br />
            <strong>Boat Capcacity: </strong> {{ responder.boatCapacity }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
    <span *ngFor="let shelter of shelters">
      <mgl-marker [lngLat]="[shelter.lon, shelter.lat]" #marker>
        <div class="shelter" [ngStyle]="{
            'background-image': 'url(assets/img/shelter.svg)'
          }" (click)="markerClick([shelter.lon, shelter.lat])"></div>
      </mgl-marker>
      <mgl-popup [marker]="marker" [offset]="[0, -12]">
        <div class="card-text">
          <p>
            <strong>Shelter Name: </strong> {{ shelter.name }}<br />
            <strong>Rescued: </strong> {{ shelter.rescued }}<br />
            <strong>Long/Lat: </strong> {{ shelter.lon + ',' + shelter.lat }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
    <span *ngFor="let incident of incidents">
      <mgl-marker [lngLat]="[incident.lon, incident.lat]" #marker>
        <div class="marker" [ngStyle]="{
            'background-image': 'url(assets/img/marker-' + getIcon(incident.status) + '.svg)'
          }" (click)="markerClick([incident.lon, incident.lat])"></div>
      </mgl-marker>
      <mgl-popup [marker]="marker" [offset]="[0, -12]">
        <div class="card-text">
          <p>
            <strong>Mission ID: </strong> {{ incident.missionId }}<br />
            <strong>Mission Status: </strong> {{ incident.status }}<br />
            <strong>Incident ID: </strong> {{ incident.id }}<br />
            <strong>Long/Lat: </strong> {{ incident.lon + ',' + incident.lat }}<br />
            <strong>Name: </strong> {{ incident.victimName }}<br />
            <strong>Phone Number: </strong> {{ incident.victimPhoneNumber }}<br />
            <strong>Medical Needed?: </strong> {{ incident.medicalNeeded }}<br />
            <strong>Number of People: </strong> {{ incident.numberOfPeople }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
  </mgl-map>
</div>
