<div class="card-header">Map</div>
<div class="card-body">
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[11]"
    [center]="center"
    [accessToken]="accessToken"
    [fitBounds]="bounds"
    [fitBoundsOptions]="boundsOptions">
    <span *ngFor="let responder of responders; index as i">
      <mgl-marker [lngLat]="[responder.longitude, responder.latitude]" #responderMarker>
        <div class="marker" (click)="markerClick([responder.longitude, responder.latitude])" [ngStyle]="{
          'background-image': 'url(assets/img/' + getResponderIcon(responder.person) +')'
        }" ></div>
      </mgl-marker>
      <mgl-popup [marker]="responderMarker" [offset]="[0, -12]" (open)="onResponderPopup(responder.id, i, responder.missionId)">
        <div class="card-text">
          <p>
            <strong>Mission ID: </strong> {{ responder.missionId }}<br />
            <strong>Mission Status: </strong> {{ responder.missionStatus }}<br />
            <strong>Responder ID: </strong> {{ responder.id }}<br />
            <strong>Long/Lat: </strong> {{ responder.longitude + ',' + responder.latitude }}<br />
            <strong>Full Name: </strong> {{ responder.name }}<br />
            <strong>Phone Number: </strong> {{ responder.phoneNumber }}<br />
            <strong>Provides Medical?: </strong> {{ responder.medicalKit }}<br />
            <strong>Boat Capcacity: </strong> {{ responder.boatCapacity }}<br />
            <strong>User generated: </strong> {{ responder.person }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
    <span *ngFor="let shelter of shelters">
      <mgl-marker [lngLat]="[shelter.lon, shelter.lat]" #shelterMarker>
        <div class="shelter" [ngStyle]="shelterStyle" (click)="markerClick([shelter.lon, shelter.lat])"></div>
      </mgl-marker>
      <mgl-popup [marker]="shelterMarker" [offset]="[0, -12]">
        <div class="card-text">
          <p>
            <strong>Shelter Name: </strong> {{ shelter.name }}<br />
            <strong>Rescued: </strong> {{ shelter.rescued }}<br />
            <strong>Long/Lat: </strong> {{ shelter.lon + ',' + shelter.lat }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
    <span *ngFor="let incident of incidents; index as i">
      <mgl-marker [lngLat]="[incident.lon, incident.lat]" #incidentMarker>
        <div class="marker" [ngStyle]="{
            'background-image': 'url(assets/img/' + getIncidentIcon(incident.status) + ')'
          }" (click)="markerClick([incident.lon, incident.lat])"></div>
      </mgl-marker>
      <mgl-popup [marker]="incidentMarker" [offset]="[0, -12]" (open)="onIncidentPopup(incident.id, i, incident.missionId)">
        <div class="card-text">
          <p>
            <strong>Mission ID: </strong> {{ incident.missionId }}<br />
            <strong>Mission Status: </strong> {{ incident.status }}<br />
            <strong>Incident ID: </strong> {{ incident.id }}<br />
            <strong>Long/Lat: </strong> {{ incident.lon + ',' + incident.lat }}<br />
            <strong>Name: </strong> {{ incident.victimName }}<br />
            <strong>Phone Number: </strong> {{ incident.victimPhoneNumber }}<br />
            <strong>Medical Needed?: </strong> {{ incident.medicalNeeded }}<br />
            <strong>Number of People: </strong> {{ incident.numberOfPeople }}<br />
          </p>
        </div>
      </mgl-popup>
    </span>
    <mgl-geojson-source id="pickupJson" [data]="pickupData"> </mgl-geojson-source>
    <mgl-layer id="pickupRoute" type="line" source="pickupJson" [layout]="lineLayout" [paint]="pickupPaint"> </mgl-layer>
    <mgl-geojson-source id="deliverJson" [data]="deliverData"> </mgl-geojson-source>
    <mgl-layer id="deliverRoute" type="line" source="deliverJson" [layout]="lineLayout" [paint]="deliverPaint"> </mgl-layer>
  </mgl-map>
  <app-legend [bottom]="'50px'"></app-legend>
</div>
