<div id="legend" class="legend d-none d-lg-block" [ngStyle]="{'bottom': bottom }">
  <div><img class="legend-icon" src="assets/img/marker-red.svg" alt="Requested" /> Requested</div>
  <div><img class="legend-icon" src="assets/img/marker-yellow.svg" alt="Assigned" /> Assigned</div>
  <div><img class="legend-icon" src="assets/img/responder.svg" alt="Responder" /> Responder</div>
  <div><img class="legend-icon" src="assets/img/responder-person.svg" alt="Registered Responder" /> Responder (Person)</div>
  <div class="mt-1 mb-1"><img class="legend-icon" src="assets/img/shelter.svg" alt="Shelter" /> Shelter</div>
  <div><span [ngStyle]="{ 'background-color': YELLOW }"></span>Pickup Route</div>
  <div><span [ngStyle]="{ 'background-color': BLUE }"></span>Deliver Route</div>
</div>
