<div id="legend" class="legend d-none d-lg-block" [ngStyle]="{'bottom': bottom }">
  <div><img class="legend-icon" src="assets/img/marker-incident-helpme-colored2.svg" alt="Requested" /> Requested</div>
  <div><img class="legend-icon" src="assets/img/marker-incident-helpassigned-colored2.svg" alt="Assigned" /> Assigned</div>
  <div><img class="legend-icon" src="assets/img/circle-responder-boat-colored.svg" alt="Registered Responder" /> Responder</div>
  <div><img class="legend-icon" src="assets/img/circle-responder-boat-simulated-colored.svg" alt="Responder" /> Responder (Simulated)</div>
  <div class="mt-1 mb-1"><img class="legend-icon" src="assets/img/circle-shelter-hospital-colored.svg" alt="Shelter" /> Shelter</div>
  <div><span [ngStyle]="{ 'background-color': YELLOW }"></span>Pickup Route</div>
  <div><span [ngStyle]="{ 'background-color': BLUE }"></span>Deliver Route</div>
</div>
