<div class="card-deck">
  <div class="card">
    <div class="card-header">Incidents</div>
    <div class="card-body">
      <div class="d-flex">
        <form class="w-100">
          <div class="form-group form-inline">
            <input class="form-control w-100" placeholder="Search" type="text" [formControl]="filter"/>
          </div>
        </form>
      </div>

      <div class="d-flex flex-row-reverse">
        <table
          class="table"
          data-search="true">
          <thead>
            <tr>
              <th scope="col">Victim name</th>
              <th *ngIf="!isMobile" scope="col">Number of people</th>
              <th *ngIf="!isMobile" scope="col">Medical needed</th>
              <th *ngIf="!isMobile" scope="col">Phone number</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incident of currentPageIncidents; let i = index">
              <th scope="row">{{incident.victimName}}</th>
              <td *ngIf="!isMobile">{{incident.numberOfPeople}}</td>
              <td *ngIf="!isMobile">{{incident.medicalNeeded}}</td>
              <td *ngIf="!isMobile">{{incident.victimPhoneNumber}}</td>
              <td>{{incident.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [maxSize]="isMobile ? 3 : 5" [collectionSize]="filteredIncidents.length" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select *ngIf="!isMobile" class="custom-select pull-right" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="50">50 items per page</option>
          <option [ngValue]="100">100 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
