<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">Form</div>
      <div class="card-body">
        <form class="card-text" (ngSubmit)="submit()" #userForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text" class="form-control" [(ngModel)]="model.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" class="form-control"[(ngModel)]="model.lastName">
          </div>
          <div class="form-group">
            <label for="group">Group</label>
            <input id="group" name="group" type="text" class="form-control" [(ngModel)]="model.group">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2 mr-2">Save</button>
            <button type="button" class="btn btn-secondary mb-2" (click)="clear()">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
