<div class="card-deck">
  <div class="card">
    <div class="card-header">Mission</div>
    <div class="card-body">
      <mgl-map
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[11]"
        [center]="center"
        (click)="setLocation($event)"
        [fitBounds]="bounds"
        [fitBoundsOptions]="boundsOptions"
        [accessToken]="accessToken"
        (load)="map = $event">
        <span *ngIf="incident.lon && incident.lat">
          <mgl-marker [lngLat]="[incident.lon, incident.lat]" #incidentMarker>
            <div class="marker" [ngStyle]="incidentStyle"></div>
          </mgl-marker>
        </span>
        <span *ngIf="responder.longitude && responder.latitude">
          <mgl-marker [lngLat]="[responder.longitude, responder.latitude]" #responderMarker>
            <div class="marker" [ngStyle]="responderStyle"></div>
          </mgl-marker>
          <mgl-popup [marker]="responderMarker" [offset]="[0, -12]">
            <div class="card-text">
              <p>
                <strong>ID: </strong> {{ responder.id }}<br />
                <strong>Full Name: </strong> {{ responder.name }}<br />
                <strong>Phone Number: </strong> {{ responder.phoneNumber }}<br />
                <strong>Boat Capacity: </strong> {{ responder.boatCapacity }}<br />
                <strong>Has Medical: </strong> {{ responder.medicalKit }}<br />
                <strong>Lng/Lat: </strong> {{ responder.longitude}}, {{ responder.latitude}}
              </p>
            </div>
          </mgl-popup>
        </span>
        <span *ngFor="let shelter of shelters">
          <mgl-marker [lngLat]="[shelter.lon, shelter.lat]" #shelterMarker>
            <div class="shelter" [ngStyle]="{
                'background-image': 'url(assets/img/shelter.svg)'
              }"></div>
          </mgl-marker>
          <mgl-popup [marker]="shelterMarker" [offset]="[0, -12]">
            <div class="card-text">
              <p>
                <strong>Shelter Name: </strong> {{ shelter.name }}<br />
                <strong>Long/Lat: </strong> {{ shelter.lon + ',' + shelter.lat }}<br />
              </p>
            </div>
          </mgl-popup>
        </span>
        <mgl-geojson-source id="pickupJson" [data]="pickupData"> </mgl-geojson-source>
        <mgl-layer id="pickupRoute" type="line" source="pickupJson" [layout]="lineLayout" [paint]="pickupPaint"> </mgl-layer>
        <mgl-geojson-source id="deliverjson" [data]="deliverData"> </mgl-geojson-source>
        <mgl-layer id="deliverRoute" type="line" source="deliverjson" [layout]="lineLayout" [paint]="deliverPaint"> </mgl-layer>
      </mgl-map>

      <app-legend [bottom]="'110px'"></app-legend>

      <div class="d-flex justify-content-center mt-3">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          [disabled]="(responder.longitude === 0 && responder.latitude === 0) || isLoading"
          (click)="doAvailable()"
          *ngIf="missionStatus !== 'CREATED' && responder.latitude != null"
          [disabled]="missionStatus === 'UPDATED'">
          <fa-icon [icon]="loadingIcon" [spin]="true" *ngIf="isLoading"></fa-icon> Available
        </button>
        <button
          type="button"
          class="btn btn-primary btn-lg mr-2"
          (click)="doPickedUp()"
          *ngIf="missionStatus === 'CREATED'"
          [disabled]="isLoading || !onWaypoint()">
          Picked up
        </button>
      </div>
    </div>
  </div>
</div>
