<div class="sidebar">
  <nav class="sidebar-nav ps">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home/dashboard" routerLinkActive="nav-link-primary"> <i class="nav-icon cui-dashboard"></i> Dashboard </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="home/status" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-info"></i> Status </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/table" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-list"></i> Table </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="home/profile" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-people"></i> Profile </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/charts" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-pie-chart"></i> Charts </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/form" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-note"></i> Form </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/NAPS-emergency-response-project/frontend-manager" target="_blank">
          <fa-icon [icon]="githubIcon" class="nav-icon"></fa-icon> Github
        </a>
      </li>
    </ul>
  </nav>
</div>
