<div class="row ml-auto">
  <div class="col-lg">
    <div class="d-flex flex-row">
      <div class="pr-1 mt-2">Auto Update</div>
      <div class="p-1">
        <label class="switch switch-label switch-primary">
          <input type="checkbox" class="switch-input" [checked]="isPolling" (change)="togglePolling()" /> <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg mb-3"><app-incident></app-incident></div>
  <div class="col-lg mb-3"><app-charts></app-charts></div>
</div>
<div class="row">
  <div class="col-md"><app-map></app-map></div>
</div>
