<div class="row">
  <div class="col-xs-12 mb-2 ml-3">
    <button type="button" class="btn btn-primary btn-lg" (click)="refresh()"><fa-icon [icon]="refreshIcon"></fa-icon>&nbsp;&nbsp;Reload</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><app-alerts></app-alerts></div>
</div>
<div class="row align-items-stretch">
  <div class="col-md-6"><app-incident-status></app-incident-status></div>
  <div class="col-md-6"><app-charts></app-charts></div>
</div>
<div class="row">
  <div class="col-md-12"><app-map></app-map></div>
</div>
