<div class="card-deck mb-3">
  <div class="card">
    <div class="card-header">Incident Status</div>
    <div class="card-body">
      <app-incident [status]="incidentStatus" [incidentCommander]="incidentCommander" [displayKickstart]="displayKickstart"></app-incident>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Responder Utilization</div>
    <app-charts [status]="responderStatus"></app-charts>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <app-map [missions]="missions" [shelters]="shelters" [responders]="activeResponders" [incidents]="incidents" [priorityZones]="priorityZones" [center]="center" [incidentCommander]="incidentCommander">
    </app-map>
  </div>
</div>
