@import '~@coreui/coreui/scss/coreui';

// for adding theme to alerts
@import '~@coreui/coreui/scss/bootstrap/functions';
@import '~@coreui/coreui/scss/bootstrap/variables';
@import '~@coreui/coreui/scss/bootstrap/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

// Fix for bug with Angular 7
// https://stackoverflow.com/questions/53989445/ngx-toastr-toast-not-showing-in-angular-7#
#toast-container > div {
  opacity: 1;
}

// for all map markers
.marker {
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
  border-radius: 40%;
  cursor: pointer;
}

.shelter {
  @extend .marker;
  background-size: contain;
  width: 2.0em;
  height: 2.0em;
  // we could do this with CSS and something like this - vs. the current weird code based way
  // mask: url(assets/img/shelter-hospital.svg) no-repeat center;
  // -webkit-mask: url(assets/img/shelter-hospital.svg) no-repeat center;
  // background-color: rgba(255, 0, 0, 0.5);
}

.incidentMarker {
  @extend .marker;
  background-size: contain;
  width: 2.0em;
  height: 2.0em;
}

.responderMarker {
  @extend .marker;
  background-size: contain;
  width: 2.0em;
  height: 2.0em;
}