mgl-map {
  height: 45em;
}

#drawButton {
  width: 18px;
  height: 18px;
  display: inline-block;
  padding: 0;
  border: 0;
  margin-bottom: -3px;
  background-repeat: no-repeat;
}

.shelterButtons > button {
  margin: 5px;
}